/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  font-family:  "Inter", sans-serif;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


img {
  max-width: 10vh;
  max-height: 10vh;
  border-radius: 50%;
  margin:40px 0px 24px 0px;

}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: hsl(0, 0%, 8%);
}

.content {
  height: 73vh;
  width: 384px;
  border-radius: 10px;
  background: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.buttonsBox {
  display: flex;
  flex-direction: column;
  
  height: 45%;
  margin-top: 24px;
  flex: 1;
}
h1{ 
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 150%;
  padding: 10px 0px 5px 0px;
}

h2 {
  font-family: "Inter", sans-serif;
  color:  hsl(75, 94%, 57%);
  font-weight: 700;
  font-size: 14px;    
  margin-bottom: 24px;

}
 
P {
  font-weight: 400;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

button {
  height: 45px;
  width: 279px;
  background-color:hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 16px;
}

button:hover {
  background-color: hsl(75, 94%, 57%) ;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .content {
    height: 611px;
  }
}

@media (max-width: 480px) {
  .content {
    width: 327px;
    height: 579px;
  }
}
